#navbarNav {
  justify-content: flex-end;
}

#navbar .navbar {
  background-color: var(--darkBlue) !important;
}
#navbar .navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
}
#navbar .navbar-brand img {
  height: 70px;
}
#navbar .navbar-brand h1 {
  padding-left: 2rem;
  font-size: 2rem;
  color: #fff;
}

#navbar > .navbar {
  padding: 0;
  border-bottom: 1px solid var(--darkBlue);
}
#navbar-nav {
  height: 70px;
}

#navbar .nav-item {
  padding-right: 100px !important;
  font-size: 18px;
}

#navbar .nav-item a {
  color: #fff;
}
